<header id="MainHeader">
    <div id="SiteLogo">
        <img id="SiteLogoIcon" width="64" height="64" src="/android-chrome-192x192.png">
        <h1 id="MainHeaderTitle">Food Finder</h1>
    </div>
    <nav>
        <ul>
            <a href="/"><li class="navButton">Home</li></a>
            <a href="/about"><li class="navButton">About</li></a>
            <a href="#"><li class="navButton">Finder</li></a>
        </ul>
    </nav>
</header>