body {
    margin: 0;
    background-image: url("/background.jpg");
}

main {
    margin: 0 auto auto auto;
    width: 80%;
    padding: 10px;
    background-color: #f1f1f1;
}

nav {
    text-align: center;
    background-color: #08F;
    border-radius: 5px;
    border: 2px solid darkorange;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.navButton {
    background-color: orange;
    border: none;
    color: #08F;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
}

.navButton > a {
    text-decoration: none;
}

.navButton:hover {
    background-color: darkOrange;
}

.navButton:target {
    background-color: darkOrange;
}

.StaticSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    box-shadow: darkOrange 0px 0px 10px;
}

.Section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    box-shadow: darkOrange 0px 0px 10px;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

#MainHeader {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    align-items: center;
}

#MainHeaderTitle {
    text-align: center;
    color: #08F;
    margin-left: 20px;
    margin-right: 20px;
}

#SiteLogo {
    width: 200px;
    height: 80px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid black;
}

#SiteLogoIcon {
    margin-left: 10px;
}

#NewRecipeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

#sendButton {
    background-color: orange;
    border-radius: 8px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#SearchSubmitButton {
    background-color: orange;
    border-radius: 8px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#AddIngredientButton {
    background-color: orange;
    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#AddIngredientButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

#IngredientSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBox {
    border-color: darkorange;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    left: 150px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media screen and (max-width: 900px) {
    #MainHeader {
        flex-direction: column;
    }
}

