<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <%- include('../shared/head_includes.ejs') %>
</head>
<%- include('../shared/header.ejs') %>
<body>
    <main>
        <p>about me page</p>
    </main>
</body>
</html>