<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <%- include('../shared/head_includes.ejs') %>
</head>
<%- include('../shared/header.ejs') %>
<body>
    <main>
        <h2>Contact</h2>
        <!--Implement contact form here-->
    </main>
</body>
</html>