<!DOCTYPE html>
<html>
    <head>
        <title>Finder</title>
        <%- include('../shared/head_includes.ejs') %>
    </head>
    <%- include('../shared/header.ejs') %>
    <body>
        <main>
            <div class="Section" id="Search">
                <form action="finder" method="GET">
                    <label for="search">Recipe Name:</label>
                    <input type="text" id="search" name="search">
                    <input id="SearchSubmitButton" type="submit" value="Submit">
                </form>
            </div>
            <div class="Section" id="RecipeList">
                <table>
                    <tr>
                        <th>Recipe Name</th>
                    </tr>
                    <%_ for (const recipe of recipes) { _%>
                        <%_ if (recipe.recipe_name !== null) { _%>
                        <tr><td><%= recipe.recipe_name %></td></tr>
                        <%_ } else { _%>
                            <tr><td>Recipe Name Not Found</td></tr>
                        <%_ } _%>
                    <%_ } _%>
                </table>
            </div>
        </main>
    </body>
    <script>
        document.getElementById('SearchSubmitButton').addEventListener("click", function(event) {
            console.log("clicked");
            event.preventDefault();
            const search = document.getElementById('search').value;
            window.location.href = "/finder/" + search;
        })
    </script>
</html>
