<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <%- include('../shared/head_includes.ejs') %>
</head>
<%- include('../shared/header.ejs') %>
<body>
    <main>
        <p>Welcome to the home page.</p>
    </main>
</body>
</html>